@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

body{
    margin: 2em 3em 2em 3em;
    padding:  2em 3em 2em 3em;
    font-family: 'Playfair Display', serif;
    background: floralwhite;
}

form{
    display: flex;
    justify-content: center;
}
input{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    margin-right: 20px;
}
label{
    padding: 5px 15px 0 15px;
    font-weight: bold;
}
#method{
    border-radius: 5px;
    border: 2px solid;
    font-family: 'Playfair Display', serif;
    color: dimgray;
    padding: 5px 8px 5px 8px;
}
button{
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    background: darkseagreen;
    margin-left: 15px;
}
